<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Mapper 파일에서 사용하는 타입에 대한 단축 이름을 지정하는 설정 -->
	<typeAliases>
		<typeAlias type="com.ppool.dto.User" alias="User" />
		<typeAlias type="com.ppool.dto.Project" alias="Project" />
		<typeAlias type="com.ppool.dto.ProjectComment" alias="ProjectComment" />
		<typeAlias type="com.ppool.dto.Notification" alias="Notification" />
		<typeAlias type="com.ppool.dto.History" alias="History"/>
		<typeAlias type="com.ppool.dto.HistoryUploadFile" alias="HistoryUploadFile"/>
		<typeAlias type="com.ppool.dto.Report" alias="Report"/>
		<typeAlias type="com.ppool.dto.ResumeEducation" alias="ResumeEducation"/>
		<typeAlias type="com.ppool.dto.ResumeIntroduction" alias="ResumeIntroduction"/>
		<typeAlias type="com.ppool.dto.ResumeLanguage" alias="ResumeLanguage"/>
		<typeAlias type="com.ppool.dto.ResumeLicense" alias="ResumeLicense"/>
		<typeAlias type="com.ppool.dto.ResumeSchool" alias="ResumeSchool"/>
		<typeAlias type="com.ppool.dto.JoinProject" alias="JoinProject"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/ppool/mapper/UserMapper.xml" />
		<mapper resource="com/ppool/mapper/ProjectMapper.xml" />
		<mapper resource="com/ppool/mapper/NotificationMapper.xml" />
		<mapper resource="com/ppool/mapper/HistoryMapper.xml"/>
		<mapper resource="com/ppool/mapper/UserSearchMapper.xml"/>
		<mapper resource="com/ppool/mapper/UserResumeMapper.xml"/>
		<mapper resource="com/ppool/mapper/ReportMapper.xml"/>
		<mapper resource="com/ppool/mapper/JoinMapper.xml"/>
	</mappers>

</configuration>
