@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#cast {
	font-family: 'Nanum Gothic', sans-serif;
	width: 1240px;
	margin: 0 auto;
}

#main {
	text-align: center;
	margin-top: 69px;
	height: 500px;
	/* 	margin-left: 5%;
	margin-right: 5%; */
	font-family: 'Nanum Gothic', serif;
}

#user ul li {
	display: block;
}

#imageview {
	margin: 0 auto;
	width: 130px;
	height: 150px;
}

#defaultimage {
	margin: 0 auto;
	width: 130px;
	height: 150px;
}

/* #register {
	text-align: center;
	height: 500px;
	font-family: 'Nanum Gothic', serif;
	float: right;
	width: 75%;
	margin-right: 5%;
	margin-top: 3%;
} */
#register {
	text-align: center;
	height: 500px;
	font-family: 'Nanum Gothic', serif;
	margin-right: 5%;
	margin-top: 3%;
}

#location {
	border: solid 1px;
	float: left;
	width: 20%;
	height: 70px;
}

#skill {
	border: solid 1px;
	float: left;
	width: 20%;
	height: 70px;
}

.userlocation ul li {
	display: inline;
}

.userskill ul li {
	display: inline;
}

#logininfo {
	float: right;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-top: 0.5%;
	display: inline;
}

#logo {
	width: 1255px;
	margin: 0 auto;
}

#personaldata {
	height: 600px;
	font-family: 'Nanum Gothic', serif;
	width: 80%;
	float: right;
	margin-top: 31px;
}

#personaldata th {
	background-color: #7d97d3;
	color: white;
}

a:link {
	text-decoration: none;
	color: #333333;
}

a:visited {
	text-decoration: none;
	color: #333333;
}

caption {
	font-weight: 700;
	font-size: 20px;
	padding: 5px;
	color: #1BA6B2;
	text-align: left;
	margin-bottom: 5px
}