@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#cast{
	font-family: 'Nanum Gothic', sans-serif;
    width:1255px;   
    margin: 0 auto;
}
#main {
	text-align: center;
	margin-top: 4%;
	height: 500px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Nanum Gothic', serif;
}
#imageview{
	margin :0 auto;
	width: 130px;
	height: 150px;
}
#defaultimage{
	margin :0 auto;
	width: 130px;
	height: 150px;
}

/* #register {
	text-align: center;
	height: 500px;
	font-family: 'Nanum Gothic', serif;
	float: right;
	width: 75%;
	margin-right: 5%;
	margin-top: 3%;
} */
#register {
	text-align: center;
	height: 500px;
	font-family: 'Nanum Gothic', serif;
	margin-right: 5%;
	margin-top: 3%;
}
.userlocation ul li{
	display: inline;
}
.userskill ul li{
	display: inline;
}

#logininfo {
	float: right;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-top: 0.5%;
	display: inline;
}

#email {
	display: inline;
}

#logo {
	width:1255px;   
    margin: 0 auto;
}

#personaldata{
	text-align: center;
	height: 600px;
	font-family: 'Nanum Gothic', serif;
	width:80%;
	float: right;
	margin-top: 3%;
}

#passwd {
	display: inline;
}

#userinfo {
	display: inline;
	margin: 5px;
}

a:link {
	text-decoration: none;
	color: #333333;
}

a:visited {
	text-decoration: none;
	color: #333333;
}




