
#cssmenu {
	background: #002E8A;
	height: 50px;
}
#cssmenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#cssmenu ul li{
	
	float: left;
}
#cssmenu ul li a{
	background-color: #002E8A;
	color:white;
	width: 5px;
}
#cssmenu a:link {
    display: block;
    width: 120px;
    background-color: #002E8A;
    text-align: center;
    padding: 14px;
}