@CHARSET "utf-8";

table.ex1 {width:100%; margin:0 auto; text-align:center; border-collapse:collapse}
.ex1 th, .ex1 td {padding:5px 10px}
.ex1 caption {font-weight:700; font-size:20px; padding:5px; color:#1BA6B2; text-align:left; margin-bottom:5px}
.ex1 thead th {background:#FF9147; color:#fff; text-align:center; border-right:1px solid #fff}
.ex1 tbody td.projectno {text-align:center; width:8%}
.ex1 tbody td.date {text-align:center; width:20%}
.ex1 tbody td.content {text-align:left; width:35%}
.ex1 tbody td.location {text-align:center; width:9%}
.ex1 tbody td.dday {text-align:center; width:17%}
.ex1 tbody td.status {text-align:center; width:10%}
.ex1 tbody tr.odd {background:#f9f9f9}
.ex1 tbody tr.odd th {background:#f2f2f2}
.ex1 tbody tr:hover {background:#49505a; color:#ffffff}
.ex1 tbody tr:hover th {background:#49505a; color:#ffffff}
