<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.HistoryMapper">

	<insert id="insertHistory" parameterType="com.ppool.dto.History">
		<selectKey keyProperty="historyNo" order="AFTER" resultType="int" >
			SELECT HISTORYNO_SEQUENCE.currval FROM DUAL
		</selectKey>	
		INSERT INTO	
		HISTORY(
			HISTORYNO,
			HISTORYTITLE,
			HISTORYSTARTDAY,
			HISTORYENDDAY,
			HISTORYSTAFF,
			HISTORYWORK,
			HISTORYCONTENT,
			HISTORYOPENED,
			HISTORYSERVICE,
			USERNO)
		VALUES(
			HISTORYNO_SEQUENCE.NEXTVAL,
			#{historyTitle},
			#{historyStartDay},
			#{historyEndDay},
			#{historyStaff},
			#{historyWork},
			#{historyContent},
			#{historyOpened},
			#{historyService},
			#{userNo})
	</insert>
	
	 <insert id="insertHistoryFile" parameterType="com.ppool.dto.HistoryUploadFile">
		INSERT INTO
		HISTORYUPLOADFILE
			(uploadFileNo,
			historyNo,
			uploadUserFileName,
			uploadSavedFileName)
		VALUES
			(UPLOADFILENO_SEQUENCE.NEXTVAL,
			#{historyNo},
			#{uploadUserFileName},
			#{uploadSavedFileName})
	</insert>
	
	
	<select id="getHistoryList" resultType="History">
		SELECT HISTORYNO, HISTORYOPENED, HISTORYTITLE, HISTORYSTARTDAY, HISTORYENDDAY, HISTORYWORK
		FROM HISTORY
	</select>
	
	<!--  -->

 	<select id="getHistoryByHistoryNo" parameterType="int" resultMap="historyResult">
		SELECT 
			   H.HISTORYNO,HISTORYTITLE,HISTORYSTARTDAY,
			   HISTORYENDDAY, HISTORYWORK, HISTORYCONTENT,HISTORYOPENED,HISTORYSERVICE,
			   F.UPLOADFILENO,F.UPLOADUSERFILENAME,F.UPLOADSAVEDFILENAME
		FROM HISTORY H
		INNER JOIN 
			HISTORYUPLOADFILE F
		ON H.HISTORYNO=F.HISTORYNO
		WHERE h.historyno = #{historyNo} 
	</select>
	
	<resultMap id="historyResult" type="History">
		<id column="historyno" property="historyNo" />
		<result column="historytitle" property="historyTitle" />
		<result column="historystartday" property="historyStartDay" />
		<result column="historyendday" property="historyEndDay" />
		<result column="historywork" property="historyWork" />
		<result column="historycontent" property="historyContent" />
		<result column="historyopened" property="historyOpened" />
		<result column="historyservice" property="historyService" />
		<association property="file" column="historyno" resultMap="historyFileResult"/>		
	</resultMap>
	
	<resultMap id="historyFileResult" type="HistoryUploadFile">
		<id column="uploadfileno" property="uploadFileNo"/>
		<result column="uploadUserfilename"	property="uploadUserFileName"/>
		<result column="uploadsavedfilename" property="uploadSavedFileName"/>	
	</resultMap>	

	<!--  -->
	
	
	
	
	
</mapper>