<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.HistoryMapper">

	<insert id="insertHistory" parameterType="com.ppool.dto.History">
		<selectKey keyProperty="historyNo" order="AFTER" resultType="int" >
			SELECT HISTORYNO_SEQUENCE.currval FROM DUAL
		</selectKey>	
		INSERT INTO	
		HISTORY(
			HISTORYNO,
			HISTORYTITLE,
			HISTORYSTARTDAY,
			HISTORYENDDAY,
			HISTORYSTAFF,
			HISTORYWORK,
			HISTORYCONTENT,
			HISTORYOPENED,
			HISTORYSERVICE,
			USERNO)
		VALUES(
			HISTORYNO_SEQUENCE.NEXTVAL,
			#{historyTitle},
			#{historyStartDay},
			#{historyEndDay},
			#{historyStaff},
			#{historyWork},
			#{historyContent},
			#{historyOpened},
			#{historyService},
			#{userNo})
	</insert>
	
	 <insert id="insertHistoryFile" parameterType="com.ppool.dto.HistoryUploadFile">
		INSERT INTO
		HISTORYUPLOADFILE
			(uploadFileNo,
			historyNo,
			uploadUserFileName,
			uploadSavedFileName)
		VALUES
			(UPLOADFILENO_SEQUENCE.NEXTVAL,
			#{historyNo},
			#{uploadUserFileName},
			#{uploadSavedFileName})
	</insert>
	
	<!-- pager없는 list -->
	<select id="getHistoryList" resultType="History">
		SELECT HISTORYNO, HISTORYOPENED, HISTORYTITLE, HISTORYSTARTDAY, HISTORYENDDAY, HISTORYWORK
		FROM HISTORY
	</select>
	
	<!-- pager 있는 list -->
	<select id="historyList" parameterType="hashMap" resultType="History">
	select *
		from (select rownum idx, s.* from
				(select HISTORYNO,
					HISTORYTITLE,
					HISTORYSTARTDAY,
					HISTORYENDDAY,
					HISTORYSTAFF,
					HISTORYWORK,
					HISTORYCONTENT,
					HISTORYOPENED,
					HISTORYSERVICE,
					USERNO from history)s) where idx &gt;= #{first} AND idx &lt; #{last}
	</select>
	
	<!-- 전체 데이터 갯수 구하는 mapper -->
	<select id="getHistoryCount" resultType="int">
		select count(*)
		from history	
	</select>
	
	
	
	<!--  -->

 	<select id="getHistoryByHistoryNo" parameterType="int" resultMap="historyResult">
		SELECT 
			   H.HISTORYNO,HISTORYTITLE,HISTORYSTARTDAY, HISTORYSTAFF,
			   HISTORYENDDAY, HISTORYWORK, HISTORYCONTENT,HISTORYOPENED,HISTORYSERVICE,
			   F.UPLOADFILENO,F.UPLOADUSERFILENAME,F.UPLOADSAVEDFILENAME
		FROM HISTORY H
		LEFT OUTER JOIN 
			HISTORYUPLOADFILE F
		ON H.HISTORYNO=F.HISTORYNO
		WHERE h.historyno = #{historyNo} 
	</select>
	
	<resultMap id="historyResult" type="History">
		<id column="historyno" property="historyNo" />
		<result column="historytitle" property="historyTitle" />
		<result column="historystartday" property="historyStartDay" />
		<result column="historyendday" property="historyEndDay" />
		<result column="historywork" property="historyWork" />
		<result column="historystaff" property="historyStaff"/>
		<result column="historycontent" property="historyContent" />
		<result column="historyopened" property="historyOpened" />
		<result column="historyservice" property="historyService" />
		<association property="file" column="historyno" select="historyFileResult"/>		
	</resultMap>
	
	<resultMap id="historyFileResult" type="HistoryUploadFile">
		<id column="uploadfileno" property="uploadFileNo"/>
		<result column="uploadUserfilename"	property="uploadUserFileName"/>
		<result column="uploadsavedfilename" property="uploadSavedFileName"/>	
	</resultMap>	

	<!--  -->
	
	<select id="getHistoryUploadFileByUploadFileNo" parameterType="int" resultMap="historyFileResult">
		SELECT uploadfileno, historyno, uploaduserfilename, uploadsavedfilename
		FROM historyuploadfile
		WHERE uploadfileno= #{uploadFileNo}	
	</select>
	
	<update id="updateHistory" parameterType="History">
		update history
		set historytitle=#{historyTitle}, historystartday=#{historyStartDay}, historyendday=#{historyEndDay},
			historystaff=#{historyStaff}, historywork=#{historyWork}, historycontent=#{historyContent},
			historyopened=#{historyOpened}, historyservice=#{historyService}, userno=#{userNo}
		where historyno=#{historyNo}	
	</update>
	
	<delete id="deleteHistory" parameterType="int">
		delete from history where historyno=#{historyNo}
	</delete>
	
	<delete id="deleteHistoryUploadFile" parameterType="int">
		delete from historyuploadfile where historyno=#{historyNo}
	</delete>
	
</mapper>