<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.NotificationMapper">
	<insert id='insertNotification' parameterType='Notification'>
		INSERT INTO
		NOTIFICATIONS(NOTIFICATIONNO,NOTIFICATIONTITLE, NOTIFICATIONCONTENT, NOTIFICATIONREGISTERDAY,ADMINNO)
		VALUES(NOTIFICATION_SEQUENCE.NEXTVAL,#{notificationTitle},#{notificationContent},#{notificationRegisterDay},#{adminNo})
	</insert>
	
	<select id="notificationList" resultType="Notification">
		SELECT NOTIFICATIONNO, NOTIFICATIONTITLE, NOTIFICATIONREGISTERDAY, ADMINNO
		FROM NOTIFICATIONS
		WHERE DELETED ='0'
		ORDER BY NOTIFICATIONNO
	</select>
	
	<select id="notificationView" resultType="Notification">
		SELECT NOTIFICATIONNO, NOTIFICATIONTITLE, NOTIFICATIONCONTENT, NOTIFICATIONREGISTERDAY
		FROM NOTIFICATIONS
		where
		NOTIFICATIONNO= #{notificationNo}
	</select>
	
	<update id="notificationUpdate" parameterType="Notification">
		UPDATE NOTIFICATIONS
		SET notificationTitle = #{notificationTitle}, notificationContent = #{notificationContent} 
		WHERE notificationNo = #{notificationNo}
	</update>
	
	<update id="notificationDelete" parameterType="int">
		UPDATE NOTIFICATIONS
		SET deleted = '1' 
		WHERE notificationNo = #{notificationNo}
	</update>
</mapper>