<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.ProjectMapper">
	<insert id="registerProject" parameterType="Project">
		INSERT INTO PROJECTS
		(PROJECTNO, USERNO, PROJECTTITLE, PROJECTCONTENT, PROJECTTEAMCOUNT, 
		PROJECTSTARTDAY, PROJECTENDDAY, PROJECTEXPIRE, PROJECTLOCATION,  
		PROJECTSTATUS, PROJECTPHONE, PROJECTEMAIL)
		VALUES
		(PROJECTNO_SEQUENCE.NEXTVAL, #{userNo},#{projectTitle},#{projectContent},#{projectTeamCount},
		#{projectStartDay}, #{projectEndDay}, #{projectExpire}, #{projectLocation}, 
		#{projectStatus}, #{projectPhone},#{projectEmail})
	</insert>
	
	<select id="getProjectList" resultType="Project">
		SELECT PROJECTNO, USERNO, PROJECTTITLE, PROJECTCONTENT, PROJECTTEAMCOUNT, 
		PROJECTSTARTDAY, PROJECTENDDAY, PROJECTEXPIRE, PROJECTLOCATION, PROJECTREGISTERDAY, 
		PROJECTSTATUS, PROJECTPHONE, PROJECTEMAIL
		FROM PROJECTS
		ORDER BY PROJECTNO DESC
	</select>
	
	<select id="getProjectByProjectNo" resultType="Project">
		SELECT PROJECTNO, USERNO, PROJECTTITLE, PROJECTCONTENT, PROJECTTEAMCOUNT, 
		PROJECTSTARTDAY, PROJECTENDDAY, PROJECTEXPIRE, PROJECTLOCATION, PROJECTREGISTERDAY, 
		PROJECTSTATUS, PROJECTPHONE, PROJECTEMAIL
		FROM PROJECTS
		WHERE PROJECTNO = #{projectNo}
	</select>
	
</mapper>