<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.UserResumeMapper">

	<insert id="resumeSchoolRegister" parameterType="resumeSchool">
		INSERT INTO 
		RESUMESCHOOL(
					RESUMESCHOOLNO,
					RESUMEUSERSCHOOL,
					RESUMEUSERMAJOR,
					RESUMEMAJORSTARTDAY,
					RESUMEMAJORENDDAY,
					USERNO)
			VALUES(
					RESUMESCHOOLNO_SEQUENCE.NEXTVAL,
					#{resumeUserSchool},
					#{resumeUserMajor},
					#{resumeMajorStartDay},
					#{resumeMajorEndDay},
					#{userNo})
	</insert>
	<insert id="resumeIntroductionRegister" parameterType="resumeIntroduction">
		INSERT INTO 
		RESUMEINTRODUCTION(
					RESUMEINTRODUCTIONNO,
					RESUMEINTRODUCTION,
					USERNO)
			VALUES(
					RESUMEINTRODUCTIONNO_SEQUENCE.NEXTVAL,
					#{resumeIntroduction},
					#{userNo})
	</insert>
	<select id="getResumeIntroduction" resultType="resumeIntroduction" parameterType="int">
		SELECT RESUMEINTRODUCTIONNO, RESUMEINTRODUCTION FROM RESUMEINTRODUCTION
		WHERE USERNO=#{userNo}
	</select>
	
	
	<insert id="resumeEducationRegister" parameterType="resumeEducation">
		INSERT INTO 
		RESUMEEDUCATION(
					RESUMEEDUCATIONNO,
					RESUMEEDUCATION,
					RESUMEEDUCATIONSTARTDAY,
					RESUMEEDUCATIONENDDAY,
					RESUMEEDUCATIONCENTER,
					USERNO)
			VALUES(
					RESUMEEDUCATIONNO_SEQUENCE.NEXTVAL,
					#{resumeEducation},
					#{resumeEducationStartDay},
					#{resumeEducationEndDay},
					#{resumeEducationCenter},
					#{userNo})
	</insert>	
	<insert id="resumeLicenseRegister" parameterType="resumeLicense">
		INSERT INTO 
		RESUMELICENSE(
					RESUMELICENSENO,
					RESUMELICENSE,
					RESUMELICENSEDAY,
					RESUMELICENSECENTER,
					USERNO)
			VALUES(
					RESUMELICENSENO_SEQUENCE.NEXTVAL,
					#{resumeLicense},
					#{resumeLicenseDay},
					#{resumeLicenseCenter},
					#{userNo})
	</insert>	
	<insert id="resumeLanguageRegister" parameterType="resumeLanguage">
		INSERT INTO 
		RESUMELANGUAGE(
					RESUMELANGUAGENO,
					RESUMELANGUAGE,
					RESUMELANGUAGEGRADE,
					USERNO)
			VALUES(
					RESUMELANGUAGENO_SEQUENCE.NEXTVAL,
					#{resumeLanguage},
					#{resumeLanguageGrade},
					#{userNo})
	</insert>		
		
		<!-- 
	<select id="getResumeSchool" resultType="resumeSchool" parameterType="int">
		SELECT RESUMESCHOOLNO,RESUMESCHOOL,RESUMEUSERMAJOR,RESUMEMAJORSTARTDAY,
		RESUMEMAJORENDDAY,USERNO FROM RESUMESCHOOL
		WHERE USERNO=#{userNo}
	</select>	
	 -->
					
		<!-- 			
		<select id="getUserResume" resultType="UserResume" parameterType="int">
		SELECT USERRESUMENO,RESUMESCHOOL,RESUMEUSERMAJOR,RESUMEMAJORSTARTDAY,RESUMEMAJORENDDAY,
		RESUMEMAJORUSEROPENLEVEL,RESUMEEDUCATION,RESUMEEDUCATIONSTARTDAY,RESUMEEDUCATIONENDDAY,
		RESUMEEDUCATIONCENTER,RESUMEEDUCATIONOPENLEVEL,RESUMELICENSE,RESUMELICENSECENTER,
		RESUMELICENSEDAY,RESUMELICENSEOPENLEVEL,RESUMELANGUAGE,RESUMELANGUAGEGRADE,RESUMELANGUAGEOPENLEVEL,RESUMEINTRODUCTION,
		USERNO FROM USERRESUME
		WHERE USERNO=#{userNo}
		</select>	
			 -->		
	
	 
</mapper>