<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.UserResumeMapper">

	<insert id="resumeRegister" parameterType="UserResume">
		INSERT INTO 
		USERRESUME(
					USERRESUMENO,
					RESUMESCHOOL,
					RESUMEUSERMAJOR,
					RESUMEMAJORSTARTDAY,
					RESUMEMAJORENDDAY,
					RESUMEMAJORUSEROPENLEVEL,
					RESUMEEDUCATION,
					RESUMEEDUCATIONSTARTDAY,
					RESUMEEDUCATIONENDDAY,
					RESUMEEDUCATIONCENTER,
					RESUMEEDUCATIONOPENLEVEL,
					RESUMELICENSE,
					RESUMELICENSECENTER,
					RESUMELICENSEDAY,
					RESUMELICENSEOPENLEVEL,
					RESUMELANGUAGE,
					RESUMELANGUAGEGRADE,
					RESUMELANGUAGEOPENLEVEL,
					USERNO)
			VALUES(
					USERRESUMENO_SEQUENCE.NEXTVAL,
					#{resumeSchool},
					#{resumeUserMajor},
					#{resumeMajorStartDay},
					#{resumeMajorEndDay},
					#{resumeMajorUserOpenLevel},
					#{resumeEducation},
					#{resumeEducationStartDay},
					#{resumeEducationEndDay},
					#{resumeEducationCenter},
					#{resumeEducationOpenLevel},
					#{resumeLicense},
					#{resumeLicenseCenter},
					#{resumeLicenseDay},
					#{resumeLicenseOpenLevel},
					#{resumeLanguage},
					#{resumeLanguageGrade},
					#{resumeLanguageOpenLevel},
					#{userNo})
					</insert>
					
		<select id="getUserResumeList" resultType="UserResume">
		SELECT USERNO,RESUMESCHOOL,RESUMEUSERMAJOR,RESUMEMAJORSTARTDAY,RESUMEMAJORENDDAY,
		RESUMEMAJORUSEROPENLEVEL,RESUMEEDUCATION,RESUMEEDUCATIONSTARTDAY,RESUMEEDUCATIONENDDAY,
		RESUMEEDUCATIONCENTER,RESUMEEDUCATIONOPENLEVEL,RESUMELICENSE,RESUMELICENSECENTER,
		RESUMELICENSEDAY,RESUMELICENSEOPENLEVEL,RESUMELANGUAGE,RESUMELANGUAGEGRADE,RESUMELANGUAGEOPENLEVEL,RESUMEINTRODUCTION,
		USERNO FROM USERRESUME
		</select>	
					
	
	 
</mapper>