<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.UserMapper">
	<insert id="registerUser" parameterType="User">
		<selectKey keyProperty="userNo" order="AFTER" resultType="int" >
			SELECT USERNO_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO
		USERS(USERNO,USEREMAIL,USERPASSWD,USERNAME,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR)
		VALUES(USERNO_SEQUENCE.NEXTVAL,#{userEmail},#{userPasswd},#{userName},#{userPhone},#{userBirth},#{userGender},#{userAddress},#{userExperience},#{userAcademic},#{userMajor})
	</insert>
	<select id="userLogin" parameterType="hashMap"
		resultType="User">
		SELECT USERNO,USEREMAIL,USERPASSWD,USERNAME,USERSTATUS,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR FROM USERS
		WHERE USEREMAIL = #{userEmail} AND USERPASSWD = #{userPasswd}
	</select>
	<select id="userInfo" resultMap="detailUser">
		SELECT USERNO,USEREMAIL,USERPASSWD,USERNAME,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR,USERPICTUREEXIST,USERPICTURESAVEDNAME FROM USERS
		WHERE USERNO = #{userNo}
	</select>
	<update id="userInfoUpdate" parameterType="User">
		UPDATE USERS
		SET USERNAME = #{userName},USERPHONE = #{userPhone},USERBIRTH = #{userBirth},USERGENDER = #{userGender},USERADDRESS = #{userAddress},USEREXPERIENCE = #{userExperience},USERACADEMIC = #{userAcademic},USERMAJOR = #{userMajor},USERPICTUREEXIST = #{userPictureExist},USERPICTURESAVEDNAME = #{userPictureSavedName}
		WHERE USERNO=#{userNo}
	</update>
	<update id="userStatusUpdate" parameterType="User">
		UPDATE USERS
		SET USERSTATUS = #{userStatus}
		WHERE USERNO=#{userNo}
	</update>
	
	<!-- userSkill 등록 -->
	<insert id="userSkillRegister" parameterType="hashMap">
		INSERT INTO
		USERSKILL (USERSKILLNO,SKILLNO,USERNO)
		VALUES (USERSKILLNO_SEQUENCE.NEXTVAL, #{skillNo} ,#{userNo})
	</insert>
	<delete id="userSkillDelete" parameterType="int">
		DELETE FROM USERSKILL
		WHERE USERNO = #{userNo}
	</delete>
	
	<!-- userLocation 등록 -->
	<insert id="userLocationRegister" parameterType="hashMap">
		INSERT INTO
		USERLOCATION (USERLOCATIONNO,LOCATIONNO,USERNO)
		VALUES (USERLOCATIONNO_SEQUENCE.NEXTVAL,#{locationNo},#{userNo})
	</insert>
	<delete id="userLocationDelete" parameterType="int">
		DELETE FROM USERLOCATION
		WHERE USERNO = #{userNo}
	</delete>
	
	<resultMap id="detailUser" type="User">
		<id column="userno" property="userNo"/>
		<result column="useremail" property="userEmail"/>
		<result column="userpasswd" property="userPasswd"/>
		<result column="username" property="userName"/>
		<result column="userphone" property="userPhone"/>
		<result column="userbirth" property="userBirth"/>
		<result column="usergender" property="userGender"/>
		<result column="useraddress" property="userAddress"/>
		<result column="userexperience" property="userExperience"/>
		<result column="useracademic" property="userAcademic"/>
		<result column="usermajor" property="userMajor"/>
		<collection column="userno" property="userSkill" select="getSkillNoByUserNo"/>
		<collection column="userno" property="userLocation" select="getLocationNoByUserNo"/>
	</resultMap>
	
	<select id="getSkillNoByUserNo" parameterType="int" resultType="String">
		SELECT skillno
		FROM userskill
		WHERE userno=#{userno}
	</select>
	
	<select id="getLocationNoByUserNo" parameterType="int" resultType="String">
		SELECT locationno
		FROM userlocation
		WHERE userno=#{userno}
	</select>
</mapper>