<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.UserMapper">
	<insert id="registerUser" parameterType="User">
		INSERT INTO
		USERS(USERNO,USEREMAIL,USERPASSWD,USERNAME,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR)
		VALUES(USERNO_SEQUENCE.NEXTVAL,#{userEmail},#{userPasswd},#{userName},#{userPhone},#{userBirth},#{userGender},#{userAddress},#{userExperience},#{userAcademic},#{userMajor})
	</insert>
	<select id="userLogin" parameterType="hashMap"
		resultType="User">
		SELECT USERNO,USEREMAIL,USERPASSWD,USERNAME,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR FROM USERS
		WHERE USEREMAIL = #{userEmail} AND USERPASSWD = #{userPasswd}
	</select>
	<select id="userInfo" resultType="User">
		SELECT USERNO,USEREMAIL,USERPASSWD,USERNAME,USERPHONE,USERBIRTH,USERGENDER,USERADDRESS,USEREXPERIENCE,USERACADEMIC,USERMAJOR FROM USERS
		WHERE USERNO = #{userNo}
	</select>
	<update id="userInfoUpdate" parameterType="User">
		UPDATE USERS
		SET USERNAME = #{userName},USERPHONE = #{userPhone},USERBIRTH = #{userBirth},USERGENDER = #{userGender},USERADDRESS = #{userAddress},USEREXPERIENCE = #{userExperience},USERACADEMIC = #{userAcademic},USERMAJOR = #{userMajor},USERPICTURESAVEDNAME = #{userPictureSavedName}
		WHERE USERNO=#{userNo}
	</update>
</mapper>