<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">

<mapper namespace="com.ppool.mapper.UserResumeMapper">

	<insert id="resumeSchoolRegister" parameterType="resumeSchool">
		INSERT INTO 
		RESUMESCHOOL(
					RESUMESCHOOLNO,
					RESUMEUSERSCHOOL,
					RESUMEUSERMAJOR,
					RESUMEMAJORSTARTDAY,
					RESUMEMAJORENDDAY,
					USERNO)
			VALUES(
					RESUMESCHOOLNO_SEQUENCE.NEXTVAL,
					#{resumeUserSchool},
					#{resumeUserMajor},
					#{resumeMajorStartDay},
					#{resumeMajorEndDay},
					#{userNo})
	</insert>
	<select id="getResumeSchools" resultType="resumeSchool" parameterType="int">
		SELECT RESUMESCHOOLNO,RESUMEUSERSCHOOL,RESUMEUSERMAJOR,
		RESUMEMAJORSTARTDAY,RESUMEMAJORENDDAY FROM RESUMESCHOOL
		WHERE USERNO=#{userNo}
	</select>
	
	
	
	<insert id="resumeIntroductionRegister" parameterType="resumeIntroduction">
		INSERT INTO 
		RESUMEINTRODUCTION(
					RESUMEINTRODUCTIONNO,
					RESUMEINTRODUCTION,
					USERNO)
			VALUES(
					RESUMEINTRODUCTIONNO_SEQUENCE.NEXTVAL,
					#{resumeIntroduction},
					#{userNo})
	</insert>
	<select id="getResumeIntroductions" resultType="resumeIntroduction" parameterType="int">
		SELECT RESUMEINTRODUCTIONNO, RESUMEINTRODUCTION FROM RESUMEINTRODUCTION
		WHERE USERNO=#{userNo}
	</select>
	
	
	<insert id="resumeEducationRegister" parameterType="resumeEducation">
		INSERT INTO 
		RESUMEEDUCATION(
					RESUMEEDUCATIONNO,
					RESUMEEDUCATION,
					RESUMEEDUCATIONSTARTDAY,
					RESUMEEDUCATIONENDDAY,
					RESUMEEDUCATIONCENTER,
					USERNO)
			VALUES(
					RESUMEEDUCATIONNO_SEQUENCE.NEXTVAL,
					#{resumeEducation},
					#{resumeEducationStartDay},
					#{resumeEducationEndDay},
					#{resumeEducationCenter},
					#{userNo})
	</insert>	
	<select id="getResumeEducations" resultType="resumeEducation" parameterType="int">
		SELECT RESUMEEDUCATIONNO,RESUMEEDUCATION,RESUMEEDUCATIONSTARTDAY,
		RESUMEEDUCATIONENDDAY,RESUMEEDUCATIONCENTER FROM RESUMEEDUCATION
		WHERE USERNO=#{userNo}
	</select>
	
	
	<insert id="resumeLicenseRegister" parameterType="resumeLicense">
		INSERT INTO 
		RESUMELICENSE(
					RESUMELICENSENO,
					RESUMELICENSE,
					RESUMELICENSEDAY,
					RESUMELICENSECENTER,
					USERNO)
			VALUES(
					RESUMELICENSENO_SEQUENCE.NEXTVAL,
					#{resumeLicense},
					#{resumeLicenseDay},
					#{resumeLicenseCenter},
					#{userNo})
	</insert>	
	<select id="getResumeLicenses" resultType="resumeLicense" parameterType="int">
		SELECT RESUMELICENSENO,RESUMELICENSE,RESUMELICENSEDAY,
		RESUMELICENSECENTER FROM RESUMELICENSE
		WHERE USERNO=#{userNo}
	</select>
	<!-- id값이 mapper.java의 값으로  -->
	
	<insert id="resumeLanguageRegister" parameterType="resumeLanguage">
		INSERT INTO 
		RESUMELANGUAGE(
					RESUMELANGUAGENO,
					RESUMELANGUAGE,
					RESUMELANGUAGEGRADE,
					USERNO)
			VALUES(
					RESUMELANGUAGENO_SEQUENCE.NEXTVAL,
					#{resumeLanguage},
					#{resumeLanguageGrade},
					#{userNo})
	</insert>		
	<select id="getResumeLanguages" resultType="resumeLanguage" parameterType="int">
		SELECT RESUMELANGUAGENO,RESUMELANGUAGE,RESUMELANGUAGEGRADE
		FROM RESUMELANGUAGE
		WHERE USERNO=#{userNo}
	</select>
	
	
	<delete id="deleteResumeSchool" parameterType="int">
		DELETE FROM resumeSchool WHERE resumeSchoolNo=#{resumeSchoolNo}
	</delete>
		
	<update id="updateResumeSchool" parameterType="ResumeSchool">
		UPDATE ResumeSchool
		set resumeSchool=#{resumeSchool}, resumeUserMajor=#{resumeUserMajor}, resumeMajorStartDay=#{resumeMajorStartDay},
		resumeMajorEndDay=#{resumeMajorEndDay}
		where resumeSchoolNo=#{resumeSchoolNo}
	</update>
	
	 
</mapper>